#c{
    background-color: black;
}
.button {
    position: absolute;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color:aqua;
    font-size: 15px;
    font-weight: bold;

}

  
